.cart-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex-grow: 1;
    margin-left: 50px;
  }
  
  .cart-item-details h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .cart-item-details p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .quantity {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .quantity button {
    background-color: #140d4c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .quantity span {
    margin: 0 10px;
    font-size: 1.2rem;
  }
  
  .remove-btn {
    background-color: #bb091b;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  